h1,h2,h3,h4,h5,h6{
	font-family: $font-family-heading;
	color: $color-heading;
}

h1{
	font-size: $font-size-h1;
	font-weight: lighter;
}

h2{
	font-size: $font-size-h2;
	font-weight: normal;
}

h3{
	font-size: $font-size-h3;
	font-weight: normal;
}

h4{
	font-size: $font-size-h4;
}

h5{
	font-size: $font-size-h5;
	font-weight: 300;
}

h6{
	font-size: $font-size-h6;
	font-weight: bold;
}
