/*======================================
=            Main container            =
======================================*/

.main-content{
	padding-top: 125px;
}

/*=====  End of Main container  ======*/


/*=========================================
=            Banner categories            =
=========================================*/

.banner-categories{
	
	.category-container{
		min-height: 225px;
		margin: 0 0 30px 0;

		.category-thumbnail{
			position: relative;
			overflow: hidden;
			img{
				width: 100%;
				transition: transform .2s ease-in-out;
			}

			figcaption{

				position: absolute;
				top: 40%;
				width: 100%;
				text-align: center;
				background: rgba(0,0,0, .4);

				h3{
					color: white;
					text-transform: uppercase;
					padding: 15px 0;
					margin: 0;
				}
			}
		}

		&:hover img{
			transform: scale(1.1);
		}
	}
}

/*=====  End of Banner categories  ======*/

/*========================================
=            DEAL OF THE WEEK            =
========================================*/

.deal-of-the-week{
	margin: 105px 0 30px 0;
	position: relative;
	max-height: 375px;
	width: 100%;
	height: 100%;
	.deal-thumbnail{
		img{
			width: 100%;
			max-width: 100%;
		}
	}

	.inner-content{
		position: absolute;
		width: 100%;
		text-align: center;
		top: 16%;

		.inside-wrapper{
			background: rgba(0,0,0, .4);
			width: 40%;
			margin: 0 auto;
			padding: 50px;

			.title, p{
				color: white;
			}



			p{
				margin-bottom: 30px;
			}
		}
	}
}

/*=====  End of DEAL OF THE WEEK  ======*/


/*=======================================
=            featured-brands            =
=======================================*/

.featured-brands-slider{
	text-align: center;
	padding: 0;
	list-style-type: none;
	margin-bottom: 75px;

	li{
		display: inline-block;

		margin-right: 80px;

		&:last-child{
			margin-right: 0;
		}
	}

}

/*=====  End of featured-brands  ======*/


/*======================================
=            Category Icons            =
======================================*/

.category-icons{
	padding: 30px 0;

	.categories-container{
		list-style-type: none;
		padding: 0;
		margin: 0;

		.category{
			background: #fff;
			padding: 15px 30px;

			h5{
				text-transform: uppercase;
			}
		}
	}
}

/*=====  End of Category Icons  ======*/

/*=============================================
=            SIDEBAR FILTER BUTTON            =
=============================================*/

.sidebar-button-toggler{
	display: none;
	margin-bottom: 30px;
	span{
		padding: 5px 15px; 
		background: white;
		border: 1px solid $color-gray-lighten;
		cursor: pointer;

		i{
			font-size: 18px;
		}
	}
}

/*=====  End of SIDEBAR FILTER BUTTON  ======*/
