/*======================================
=            Main container            =
======================================*/
.main-content {
  padding-top: 150px;
}

/*=====  End of Main container  ======*/
/*=========================================
=            Banner categories            =
=========================================*/
.banner-categories .banner-wrapper {
  overflow: hidden;
  position: relative;
}

.banner-categories .banner-wrapper:hover img {
  transform: scale(1.1);
}

.banner-categories .banner-thumbnail img {
  width: 100%;
  max-width: 100%;
  transition: transform 300ms ease-in-out;
}

.banner-categories .banner-content {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.banner-categories .content-inner {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 35%;
  background: rgba(0, 0, 0, 0.3);
}

.banner-categories .content-inner h2 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 0;
}

.banner-categories .category-left .banner-wrapper, .banner-categories .category-right .banner-wrapper {
  max-height: 420px;
}

.banner-categories .category-middle-top .banner-wrapper, .banner-categories .category-middle-bottom-left .banner-wrapper, .banner-categories .category-middle-bottom-right .banner-wrapper {
  max-height: 195px;
}

.banner-categories .category-middle-bottom-left, .banner-categories .category-middle-bottom-right {
  margin-top: 30px;
}

/*=====  End of Banner categories  ======*/
/*========================================
=            DEAL OF THE WEEK            =
========================================*/
.deal-of-the-week {
  margin: 105px 0 30px 0;
  position: relative;
  max-height: 375px;
  width: 100%;
  height: 100%;
}

.deal-of-the-week .deal-thumbnail img {
  width: 100%;
  max-width: 100%;
}

.deal-of-the-week .inner-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 16%;
}

.deal-of-the-week .inner-content .inside-wrapper {
  background: rgba(0, 0, 0, 0.4);
  width: 40%;
  margin: 0 auto;
  padding: 50px;
}

.deal-of-the-week .inner-content .inside-wrapper .title, .deal-of-the-week .inner-content .inside-wrapper p {
  color: white;
}

.deal-of-the-week .inner-content .inside-wrapper p {
  margin-bottom: 30px;
}

/*=====  End of DEAL OF THE WEEK  ======*/
/*=======================================
=            featured-brands            =
=======================================*/
.featured-brands-slider {
  text-align: center;
  padding: 0;
  list-style-type: none;
  margin-bottom: 75px;
}

.featured-brands-slider li {
  display: inline-block;
  margin-right: 80px;
}

.featured-brands-slider li:last-child {
  margin-right: 0;
}

/*=====  End of featured-brands  ======*/
.primary {
  padding: 30px 0;
}
